.game-page {
  flex-direction: column;
  align-items: center;
  height: 100vh;
  display: flex;
  margin-left: 110px;
  height: 100%;
  width: 100%;
  margin-top: 5rem;
}
.titlegame {
  color: var(--secondary-color);
  font-size: 50px;
  margin-bottom: 20px;
}
.game-options {
  margin-top: 20px;
}
.quiz-option {
  width: 400px;
  margin: 10px;
  padding: 20px 30px;
  background-color: var(--secondary-color);
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.quiz-option:hover {
  background-color: #ff8500;
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.game-container {
  text-align: center;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .game-page {
    padding-top: 50px;
    margin: 0 auto;
  }

  .titlegame {
    font-size: 30px;
  }
  .quiz-option {
    width: 300px;
  }
}
@media screen and (max-width: 390px) {
  .game-page {
    max-height: 22rem;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .quiz-option {
    width: 200px;
  }
}
