:root {
  background-color: #282a36;
}

.container_banner {
  margin: 2rem 8rem 2rem 5rem;
}

.title_acteurs {
  color: #f8f8f2;
  margin: 10px;
}

.container_card {
  display: flex;
  justify-content: flex-start;
  max-width: 80rem;
  overflow-x: auto;
  z-index: 1;
}

/* .container_card::after {
  content: "";
  position: absolute;
  width: 60em;
  height: 18em;
  z-index: 2;
  box-shadow: inset -15px 0 5px -7px #282A36;
} */

.card {
  background-color: #282a36;
  width: 8rem;
  height: 16.5rem;
  border-radius: 10px;
  box-shadow: 0px 0px 6px #f8f8f2;
  margin: 10px;
  list-style: none;
}

.profile_path {
  width: 8rem;
  height: auto;
  border-radius: 10px 10px 0 0;
}

.original_name {
  color: #f8f8f2;
  font-family: "Open Sans", sans-serif;
  padding: 10px 10px 2px 10px;
  font-size: 0.8em;
  font-weight: bold;
}

.character {
  color: white;
  font-family: "Open Sans", sans-serif;
  padding: 10px 5px 10px 10px;
  font-size: 0.6em;
}

@media screen and (max-width: 768px) {
  .container_banner {
    margin: 2rem 2rem 2rem 2rem;
  }
}
