@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");

.GalleryBody {
  width: 100vw;
  background-color: var(--main-color);
  display: flex;
}

.A4cards {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  transition: all 1s;
}

.A4card {
  border-radius: 10px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  background-color: rgba(168, 168, 168, 0.187);
  border-radius: 10px;
  box-shadow: 5px 5px 26px 5px #0303034f;
  transition: all 0.5s;
  height: 28.5rem;
  width: 15rem;
}

.A4card:hover {
  scale: 1.02;
}

.A4card-header {
  height: 28.5rem;
  width: 15rem;
  max-height: 22.5rem;
}
.A4card-img {
  border-radius: 10px 10px 0 0;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
}

.A4card-body {
  padding: 10px 20px;
  border-radius: 10px;
  color: var(--light-color);
  overflow: hidden;
  padding-bottom: 1rem;
}

.A4card-title {
  font-weight: bold;
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* Nombre de ligne à montrer*/
  line-clamp: 1;
  -webkit-box-orient: vertical;
}

.A4card-detail {
  margin-top: 4px;
  text-justify: auto;
  font-size: 0.7rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Nombre de ligne à montrer*/
  line-clamp: 3;
  -webkit-box-orient: vertical;
  margin-bottom: 1rem;
  text-align: justify;
}

.A4focus-note {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--light-color);
  border: 4px solid;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  position: relative;
  top: -3.35rem;
  left: 11.6rem;
  background-color: transparent;
  backdrop-filter: blur(4px);
}

.border-red {
  border-color: red;
}

.border-orange {
  border-color: orange;
}

.border-green {
  border-color: green;
}

@media screen and (min-width: 2000px) {
  .A4cards {
    margin-left: 15%;
    margin-right: 15%;
  }
}
