.GenreFilter {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.GenreFilter .Buttons {
  height: 70%;
  display: flex;
  width: 80%;
  justify-content: center;
  align-items: center;
  margin: 2rem 0 0 0;
  flex-wrap: wrap;
}
.GenreFilter .Buttons input[type="radio"] {
  display: none;
}
.SelectedGenreLabel {
  background-color: var(--secondary-color);
}
.GenreButton:checked {
  background-color: var(--secondary-color);
}

.GenreFilter .Buttons label {
  display: inline-block;
  padding: 10px 0px;
  align-self: center;
  margin: 0;
  background-color: none;
  color: #fff;
  min-width: 150px;
  border: 3px solid var(--secondary-color);
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s;
}

.GenreFilter .Buttons label:hover {
  background-color: var(--secondary-color);
}

/* Petit */
@media screen and (max-width: 768px) {
  .GenreFilter h2 {
    text-transform: uppercase;
    font-size: 2rem;
    margin: 2rem;
    text-align: center;
  }
  .GenreFilter .Buttons {
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
    width: 90%;
  }

  .GenreFilter .Buttons label {
    margin: 20px;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
  }
}

/* Grand*/
@media screen and (min-width: 769px) {
  .GenreFilter h2 {
    text-transform: uppercase;
    font-size: 4rem;
  }
  .GenreFilter .Buttons {
    flex-direction: row;
  }

  .GenreFilter .Buttons label {
    margin: 10px;
    width: 200px;
    height: 60px;
    font-size: 1.5rem;
  }
}
