/* Ajoute le style CSS ici */
:root {
  height: 100%;
  width: 100%;
}

body {
  height: 100vh;
  width: 100vw;
}

/* media query */
/* Petit écran (mobile) */
@media screen and (max-width: 768px) {
  main {
    min-height: 100dvh;
    background-image: url("../assets/home-back.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Kanit", sans-serif;
  }

  .search {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    padding: 0;
    flex-wrap: wrap;
  }

  main input {
    height: 4rem;
    background: none;
    border: none;
    text-align: center;
    font-size: 3rem;
    color: #f6f6f6;
    line-height: 4rem;
    width: 40px;
  }

  main input:focus {
    border: none;
    outline: none;
    color: #f6f6f6;
    text-align: center;
    text-overflow: clip;
  }

  main input::placeholder {
    text-align: center;
    font-size: 2.5rem;
    color: #f6f6f6;
  }

  .line {
    border-left: 1px solid #b8b8b6;
    display: inline-block;
    height: 3rem;
  }

  .color {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #282a36cc;
    z-index: auto;
  }
}

/* Grand écran (Ordi) */
@media screen and (min-width: 769px) {
  main {
    background-image: url("../assets/home-back.png");
    height: 100vh;
    min-width: 100vw;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Kanit", sans-serif;
  }

  .search {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
  }

  main input {
    height: 4rem;
    background: none;
    border: none;
    text-align: left;
    font-size: 3rem;
    color: #f6f6f6;
    line-height: 4rem;
    width: 31rem;
    text-decoration: none;
  }

  main input:focus {
    border: none;
    outline: none;
    color: #f6f6f6;
    text-align: left;
    text-overflow: clip;
    text-decoration: none;
  }

  main input::placeholder {
    text-align: left;
    font-size: 3rem;
    color: #f6f6f6;
  }

  .line {
    border-left: 1px solid #b8b8b6;
    display: inline-block;
    height: 4rem;
  }

  .color {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #282a36cc;
    z-index: auto;
  }
}
