.Home:root {
  height: 100%;
  width: 100%;
  margin: 0;
}

.Home body {
  height: 100vh;
  width: 100vw;
  margin: 0;
}

/* media query */
/* Petit écran (mobile) */
@media screen and (max-width: 768px) {
  .Home main {
    height: 100dvh;
    background-image: url("../assets/home-back.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .search {
    z-index: 1;
    display: flex;
    align-items: center;
    height: 4rem;
    flex-direction: column;
  }
  .searchbar-container {
    display: flex;
    align-items: center;
  }

  .Home main input {
    height: 4rem;
    background: none;
    border: none;
    text-align: center;
    font-size: 2.5rem;
    color: #f6f6f6;
    line-height: 4rem;
    width: 20rem;
  }

  .Home main input:focus {
    border: none;
    outline: none;
    color: #f6f6f6;
    text-align: center;
    text-overflow: clip;
  }

  .Home main input::placeholder {
    text-align: center;
    font-size: 2rem;
    color: #f6f6f6;
    line-height: 4rem;
  }

  .line {
    border-left: 1px solid var(--darkerlight-color);
    display: inline-block;
    height: 3rem;
  }
  .suggests {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
  }

  .suggest a {
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(--darkerlight-color);
    height: 1rem;
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  .errorcode {
    color: (--accent-color);
  }
  .color {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #282a36cc;
    z-index: auto;
  }
}

/* Grand écran (Ordi) */
@media screen and (min-width: 769px) {
  .Home main {
    background-image: url("../assets/home-back.png");
    height: 100vh;
    width: 100vw;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0;
    position: absolute;
  }

  .search {
    z-index: 2;
    display: flex;
    align-items: center;
    height: 4rem;
    flex-direction: column;
  }

  .searchbar-container {
    display: flex;
    align-items: center;
  }

  .Home main input {
    height: 4rem;
    background: none;
    border: none;
    text-align: left;
    font-size: 3rem;
    color: #f6f6f6;
    line-height: 4rem;
    width: 31rem;
    text-decoration: none;
  }

  .Home main input:focus {
    border: none;
    outline: none;
    color: #f6f6f6;
    text-align: left;
    text-overflow: clip;
    text-decoration: none;
  }

  .Home main input::placeholder {
    text-align: left;
    font-size: 3rem;
    color: #f6f6f6;
  }

  .line {
    border-left: 1px solid var(--darkerlight-color);
    display: inline-block;
    height: 4rem;
  }

  .suggests {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .suggest a {
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(--darkerlight-color);
    text-decoration: none;
    height: 1rem;
    display: flex;
    align-items: center;
  }

  .suggest:hover {
    background-color: #f6f6f61b;
  }

  .errorcode {
    color: var(--accent-color);
  }

  .color {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #282a36cc;
    z-index: auto;
  }
}
