.listeArticle {
  margin-top: 15%;
}

.shopPeignoir {
  margin-left: 5%;
  width: 15rem;
  height: auto;
  border-radius: 10px 10px 0 0;
}

.shopMug {
  margin-left: 5%;
  width: 15rem;
  height: auto;
  border-radius: 10px 10px 0 0;
}

.shopTShirt {
  margin-left: 5%;
  width: 15rem;
  height: auto;
  border-radius: 10px 10px 0 0;
}

.shopBol {
  margin-left: 5%;
  width: 15rem;
  height: auto;
  border-radius: 10px 10px 0 0;
}
