body {
  background-image: url(font.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

/* Section Before */

.before {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #282a36;
  opacity: 0.5;
}

/* Section Film */

.film {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.affiche {
  height: 300px;
  width: 300px;
  background-color: #282a36;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.texte {
  color: #ffffff;
  font-size: 2rem;
  text-decoration: none;
}

.text {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.title {
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-size: 1.5rem;
}

.syno {
  font-size: 1.1rem;
}

/* Section Acteur */

.acteur {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 50px;
  margin-top: 70px;
}

.name {
  display: flex;
}

.people {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.person {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 200px;
  background-color: #282a36;
  border-radius: 10px;
  color: #ffffff;
  border-style: none;
}

.imgg {
}

/* Photo projet */

.soon1 {
  background-color: darkgray;
  height: 170px;
  width: 170px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 15px;
}

.soon2 {
  background-color: darkgray;
  height: 170px;
  width: 170px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 15px;
}

/* Photo profil */

.soonr {
  background-image: url(ryan.PNG);
  background-repeat: no-repeat;
  background-size: contain;
  height: 250px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.soond {
  background-image: url(daniela.PNG);
  background-repeat: no-repeat;
  background-size: contain;
  height: 250px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.soons {
  background-image: url(sabrina.PNG);
  background-repeat: no-repeat;
  background-size: contain;
  height: 250px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.soonc {
  background-image: url(cedric.PNG);
  background-repeat: no-repeat;
  background-size: contain;
  height: 250px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.soonp {
  background-image: url(pauline.PNG);
  background-repeat: no-repeat;
  background-size: contain;
  height: 250px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.soony {
  background-image: url(yohan.PNG);
  background-repeat: no-repeat;
  background-size: contain;
  height: 250px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.soone {
  background-image: url(elise.PNG);
  background-repeat: no-repeat;
  background-size: contain;
  height: 250px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}
