@media screen and (max-width: 768px) {
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    /* Changed from fixed to relative */
    position: relative;
    /* Top : Changed from 5rem to 2rem */
    top: 2rem;
    /* Added z-index: 1 */
    z-index: 1;
  }

  .mfocus-logo {
    position: relative;
    top: 2rem;
  }

  .logo img {
    height: 4.5rem;
    margin-right: 10px;
  }

  .title {
    margin: 0;
    padding-top: 10px;
    font-family: "Bebas Neue", sans-serif;
    font-size: 2.5rem;
  }

  .word-pop {
    color: #f8f8f2;
  }

  .word-flix {
    color: #ffa00b;
  }

  .word-corn {
    color: #f8f8f2;
  }
}

@media screen and (min-width: 769px) {
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    /* Changed from Fixed to relative */
    position: relative;
    top: 5rem;
    /* Added z-index : 1 */
    z-index: 1;
  }

  /* .mfocus-logo {
    position: relative;
  } */

  .logo img {
    height: 10rem;
    margin-right: 10px;
  }

  .title {
    margin: 0;
    padding-top: 10px;
    font-family: "Bebas Neue", sans-serif;
    font-size: 4.5rem;
  }

  .word-pop {
    color: #f8f8f2;
  }

  .word-flix {
    color: #ffa00b;
  }

  .word-corn {
    color: #f8f8f2;
  }
}
