.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  height: 60px;
  margin-right: 10px;
}

.title {
  margin: 0;
  padding-top: 10px;
  font-family: "Bebas Neue", sans-serif;
  font-size: 30px;
}

.word-pop {
  color: #f8f8f2;
}

.word-flix {
  color: #ffa00b;
  font-size: 40px;
}

.word-corn {
  color: #f8f8f2;
}

.Home {
  padding-top: 35px;
  display: flex;
  text-decoration: none;
  color: inherit;
}
