@media screen and (min-width: 769px) {
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    /* top: 2rem; */
    z-index: 1;
    padding-top: 2rem;
  }

  .logo img {
    height: 5rem;
    margin-right: 10px;
  }

  .title {
    margin: 0;
    padding-top: 10px;
    font-family: "Bebas Neue", sans-serif;
    font-size: 2.5rem;
  }

  .word-pop {
    color: var(--light-color);
  }

  .word-flix {
    color: var(--secondary-color);
  }

  .word-corn {
    color: var(--light-color);
  }
}
@media screen and (max-width: 768px) {
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    /* Added z-index: 1 */
    z-index: 1;
    padding-top: 2rem;
    /* margin-bottom: 20rem; */
  }

  .logo img {
    height: 4.5rem;
    margin-right: 10px;
    /* margin-bottom: 20rem; */
  }

  .title {
    margin: 0;
    padding-top: 10px;
    font-family: "Bebas Neue", sans-serif;
    font-size: 2.5rem;
  }

  .word-pop {
    color: var(--light-color);
  }

  .word-flix {
    color: var(--secondary-color);
  }

  .word-corn {
    color: var(--light-color);
  }
}
