/* body {
  display: flex;
  align-items: center;
  justify-content: space-around;
} */
.question-container {
  flex-direction: column;
  align-items: center;
  display: flex;
  margin-left: 110px;
  height: 100%;
  width: 100%;
  margin-top: 5rem;
}
.question-romantique {
  padding: 30px;
  max-width: 700px;
  background-color: #ffffff;
  border-radius: 20px;
  margin-top: 20px;
}
.progress {
  height: 13px;
  border-radius: 30px;
  background-color: rgb(218, 215, 215);
  margin-bottom: 20px;
}
.progress__inner {
  height: 100%;
  border-radius: 30px;
  width: 80%;
  transition: all 0.3s ease-in-out;
  background: linear-gradient(
    90deg,
    rgba(18, 231, 48, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
}
.categoriestitle {
  color: var(--secondary-color);
  font-size: 30px;
  margin: auto;
  text-align: center;
  text-decoration: none;
  padding-bottom: 5px;
}
.categoriesreponse {
  list-style: none;
  margin-top: 5px;
}
.categoriesreponse li {
  text-align: center;
  padding: 15px;
  border: 3px solid rgba(165, 94, 17, 0.1);
  border-radius: 15px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.categoriesreponse li:hover {
  border: 2px solid rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 768px) {
  .question-container {
    margin: 10px;
    margin-top: 5%;
  }
  .categoriestitle {
    font-size: 20px;
  }
}
@media screen and (max-width: 390px) {
  .question-romantique {
    padding: 15px;
  }
  .progress {
    height: 9px;
  }
  .categoriestitle {
    font-size: 15px;
  }

  .categoriesreponse li {
    font-size: 10px;
  }
}
