*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* media query */
/* Petit écran (mobile) */
@media screen  and (max-width: 768px) {
}

/* Ecran moyen (Tablettes) */
@media screen and (min-width: 769px) and (max-width: 1024px) {
}

/* Grand écran (Ordi) */
@media screen and (min-width: 1025px) {
}