@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");

:root {
  /* Colors */
  --main-color: #282a36;
  --secondary-color: #ffa00b;
  --accent-color: #b50101;
  --light-color: #f8f8f2;
  --darkerlight-color: #b8b8b6;
  background-color: var(--main-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
}

body {
  overflow-x: hidden;
}

/* Used only when the popup of Focus.jsx is open : */
.popup-open {
  overflow: hidden;
}

/* .App {
  display: flex;
} */

/* media query */
/* Petit écran (mobile) */
@media screen and (max-width: 768px) {
}

/* Ecran moyen (Tablettes) */
@media screen and (min-width: 769px) and (max-width: 1024px) {
}

/* Grand écran (Ordi) */
@media screen and (min-width: 1025px) {
}
