* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
:root {
  --main-color: #282a36;
  --secondary-color: #ffa00b;
  --accent-color: #b50101;
  --light-color: #f8f8f2;
  --darkerlight-color: #b8b8b6;
  background-color: var(--main-color);
}

/* .App {
  display: flex;
} */

/* media query */
/* Petit écran (mobile) */
@media screen and (max-width: 768px) {
}

/* Ecran moyen (Tablettes) */
@media screen and (min-width: 769px) and (max-width: 1024px) {
}

/* Grand écran (Ordi) */
@media screen and (min-width: 1025px) {
}
